# BM25! `Best match 25` 
### Usupervised Ranking/Recommendation
By Don: 2020.12.2

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
###link to data:
#https://drive.google.com/file/d/1pJFPa5772JiXWxZ9pGpwNbO6D0BBCEXZ/view?usp=sharing
df = pd.read_csv('./input/data.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50000 non-null  int64
 1   url         50000 non-null  object
 2   title       50000 non-null  object
 3   desc        49993 non-null  object
 4   text        50000 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.9+ MB

!pip install rank_bm25

# Preprocess and Tokenize
using Spacy

In [4]:
import spacy
from tqdm import tqdm

nlp = spacy.load('en_core_web_sm')
tok_text=[] # for our tokenised corpus
#Tokenising using SpaCy:
for doc in tqdm(nlp.pipe(df.text.str.lower().values, disable=["tagger", "parser","ner"])):
    tok = [t.text for t in doc if t.is_alpha]
    tok_text.append(tok)

50000it [00:25, 1996.81it/s]

# Simple BM25 Search fILTER

In [5]:
from rank_bm25 import BM25Okapi
bm25 = BM25Okapi(tok_text)

In [16]:
###########################################################################################
################################# ACTION CATEGORY #########################################
query = "Action"
tokenized_query = query.lower().split(" ")
import time

t0 = time.time()
results = bm25.get_top_n(tokenized_query, df.text.values, n=3)
t1 = time.time()

text = "ACTION STUFF"
for i in text:
    print(i+"\u0332",end='')
print('\n')

print(f'Searched 50,000 records in {round(t1-t0,3) } seconds \n')
for i in results:
    print(i)
    print("\n")

###########################################################################################
################################# ADEVENTURE CATEGORY #####################################

query = "Adventure"
tokenized_query = query.lower().split(" ")
import time

t0 = time.time()
results = bm25.get_top_n(tokenized_query, df.text.values, n=3)
t1 = time.time()

text = "ADVENTURE STUFF"
for i in text:
    print(i+"\u0332",end='')
print('\n')

print(f'Searched 50,000 records in {round(t1-t0,3) } seconds \n')
for i in results:
    print(i)
    print("\n")

A̲C̲T̲I̲O̲N̲ ̲S̲T̲U̲F̲F̲

Searched 50,000 records in 0.021 seconds

Parking Buddies to support School Air Quality Action Plan (Idling Action Campaign) Purchase of school Parking Buddies to support School Air Quality Action Plan (Idling Action Campaign)


Developing the Oxford Economic Strategy and Action Plan and the Oxford City Centre Vision and Action Plan 2020 to 2025 Oxford City Council is inviting quotations to develop two separate, but interrelated reports: a) Oxford Economic Strategy &amp; Action Plan b) Oxford City Centre Vision &amp; Action Plan


Additional Work on Operational Safety Case Forward Action Plan Additional work on Operational Safety Case Forward Action Plan


A̲D̲V̲E̲N̲T̲U̲R̲E̲ ̲S̲T̲U̲F̲F̲

Searched 50,000 records in 0.034 seconds

Fairhaven Lake Junior Adventure Play Area Adventure Play Area at Fairhaven Lake in Lytham St Anne&#039;s


Fairhaven Adventure Golf Project Design and build of a high class unique adventure golf course at Fairhaven Lake, Lytham St Anne&#039;s. Further information can be found by expressing interest to the opportunity at; https://procontract.due-north.com/Advert?advertId=75df7640-c412-ea11-80fb-005056b64545


Award of 1819-0029b The operation, delivery and facilities management of Hayward Adventure Playground Islington Council sought a provider to operate Hayward Adventure Playground. This included facilities management and provision of activities for children and young adults with Special Educational Needs and Disabilities.